/* @import url('https://fonts.googleapis.com/css2?family=Open+sans:wght@500;400;300;600&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    padding: 0%;
    margin: 0%;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    overflow-x: hidden;
}

:root {
    --color-bg: #0D0E17;
    --color-bg-variant: rgb(22, 26, 44);
    --color-secondary-1: #7AFE00;
    --color-secondary-2: rgb(183, 0, 240);
    --color-light: #A7ABCE;
    --transition: all 400ms ease;
    --color-main: white;
    --container-width-lg: 75%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

#blur {
    height: 100%;
    width: 100%;
    top: 0;
    left : 0;
    position: fixed;
    z-index: 2;
    backdrop-filter: blur(200px);
    scroll-behavior: smooth;
}

/* html {
    
} */

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', monospace;
    background: var(--color-bg);
    color: var(--color-main);
    line-height: 1.7;
}

/* ========== General Styles ========== */
.container {
    width: var(--container-width-lg);
    margin: 0 auto;
    object-fit: cover;
    height: 100%;
}

h1, 
h2, 
h3, 
h4, 
h5 {
    font-weight: 500;
}

h1 {
    font-size: 2.5rem;
}

section {
    margin-top: 8rem;
    height: 100vh;
}

section > h2, section > h5 {
    text-align: center;
    color: var(--color-light)
}

section > h2 {
    color: var(--color-main);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-main);
    transition: var(--transition);
}

a:hover {
    color: var(--color-secondary-2);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-main);
    text-align: center;
    padding: 3% 1.2rem;
    border-radius: 0.4rem;
    cursor: pointer;
    border: 1px solid var(--color-main);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-secondary-2);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-main);
    color: var(--color-bg);
}

img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#blob {
    background-color: var(--color-bg);
    height: 300px;
    aspect-ratio: 1;
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: rgb(92, 92, 255);
    animation: rotate 20s infinite;
    opacity: 0;
    transition: opacity 300ms ease;
}

body:hover > #blob {
    opacity: 1;
}
  
@keyframes rotate {
    from {
        rotate: 0deg;
    } to {
        rotate: 360deg;
    }
}

/* ========== Media Query (Medium Screens) ========== */
@media screen and (max-width: 1024px){
    .container {
        width: var(--container-width-md);
    }
    section {
        margin-top: 6rem;
    }
    #blob {
        display: none;
    }

    #blur {
        backdrop-filter: none;
    }
}

/* ========== Media Query (Small Screens) ========== */
@media screen and (max-width: 600px){
    .container {
        width: var(--container-width-sm);
    }
    section > h2 {
        margin-bottom: 2rem;
    }
    #blob {
        display: none;
    }

    #blur {
        backdrop-filter: none;
    }
}